.boton-contenedor {
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: white;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    user-select: none;
}

.boton-contenedor:hover {
    cursor: pointer;
    background-color: #5a01a7;
}

.operador {
    background-color: #00471b;
}

.operador:hover {
    background-color: #ff6600;
}

.input {
    height: 75px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #0a0a23;
    color: white;
    padding: 11px;
    padding-right: 30px;
    margin: 1px solid #888;
    box-shadow: -1px 4px 1px 1px white;
}

.boton-clear {
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #ac0246;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: wheat;
    border: 2px solid white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.boton-clear:hover {
    cursor: pointer;
    background-color: #ebb000;
}